{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container form-container">

  <div class="row justify-content-center">
    <div class="col-md-5 mt-4 form">
      <div>

        <h3>{% trans "Log In" %}</h3>
  
        <p>{% blocktrans %}Don't have an account yet? <br>Please click on
          <a href="{{ signup_url }}" class="sign-up-btn"><strong>sign up</strong></a> to create one.{% endblocktrans %}</p>
      
      </div><br>

      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <br>
        <button class="btn btn-signup right" type="submit"><i class="fa-solid fa-paw"></i> {% trans "Sign In" %}</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
