{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="container form-container">

  <div class="row signup-form">
    <div class="col-md-5 mt-4 form">
      <div>
        <h1>{% trans "Sign Up" %}</h1>

        <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}" class="sign-up-btn"><strong>log in</strong></a>.{% endblocktrans %}
        </p>
      </div>
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn btn-signup right" type="submit"><i class="fa-solid fa-bone"></i> <i
              class="fa-sharp fa-solid fa-bone-break"></i> {% trans "Sign Up" %} </button>
          </form>
      </div>
    </div>
  </div>

{% endblock %}
