/* SOCIAL LINKS */
.social-icons {
    text-align: center;
    font-size: 150%;
}

#social li {
    text-align: center;
}

#social a{
    color: #1A313C;
}

#social a:hover {
    color: #EFB542;
}

.footer-text {
    margin: 0 auto;
    text-align: center;

}