.logo-name {
    text-decoration: none;
    text-align: center;
}

.competitor {
    color: rgb(245, 1, 1);
    margin: 4px;
    text-transform: uppercase;
}

.card-title, .card-text {
    color:rgb(245, 1, 1)
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

/* SOCIAL LINKS */
.social-icons {
    text-align: center;
    font-size: 150%;
}

#social li {
    text-align: center;
}

#social a{
    color: #1A313C;
}

#social a:hover {
    color: #EFB542;
}

.footer-text {
    margin: 0 auto;
    text-align: center;

}