body {
    font-family: 'Rowdies', serif;
}

.bg-img-div {
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
}

.bg-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: top;
}

hr {
    height: 2px;
    background-color: #0d0058;
    border: none;
}

.navbar {
    --bs-navbar-color: #0d0058;
}

.navbar-brand {
    position: absolute;
    top: 15px;
    left: 15px;
}

.logo {
    font-size: 45px;
    font-weight: 700;
    color: #0d0058;
}

.bg-nav {
    background-color: #0d0058;
}

.navbar-nav.mx-auto.fw-bolder li a {
    color: #ef73bc;
    font-size: 1.5em;
    font-weight: 800;
    padding-right: 45px;
    
}

.navbar-nav.mx-auto.fw-bolder li a:hover{
    text-decoration: none;
    color: #fff;
}

.navbar-toggler {
    border: solid 3px #ef73bc;
}

.navbar-icon {
    color: #ef73bc;
}

.pagination {
    --bs-pagination-color: #0d0058;
}

/* --------------------------------------------- COMPETITION CARDS */

.competitor {
    margin: 4px;
}

.card-title, .card-text {
    color:#0d0058;
}

.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card {
    --bs-card-border-color: #0d0058;
}

.card-body a {
    text-decoration: none;
}

.entry-detail-img-width {
    width: 100%;
}

.align-text {
    text-align: center;
}

.submit-disclaimer {
    font-size: 10px;
    margin-top: 10px;
}

.modal-box a {
    padding-right: 10px;
}

.modal-box button {
    padding-left: 10px;
}

.button-like {
    border: none;
    color:#ff0000;
    background-color: #fff;
}

.comment-fa i{
    color: #0d0058;
}

.comment-bg {
    background-color: #d2cdf1;
    padding: 10px;
    margin-bottom: 10px;
}

.name-relative {
    position: relative;
}

.comment-time {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 10px;
}


/* --------------------------------------------- LOGIN/SIGNUP FORM */

.container {
    align-items: center;
}

.form-container {
    margin-top: 20px;
    text-align: center;
}

.form {
    border: solid 2px #0d0058;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 35px;
}

.form form input {
    max-width: 100%;
}

.signup-form {
    justify-content: center;
}

.btn-signup {
    background-color: #0d0058;
    color: #ef73bc;
}

.btn-delete {
    margin-left: 24px;
}

.modal-btn-delete {
    padding: 12px;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #ef73bc;
    color: #0d0058;
}

.form-group {
    margin-bottom: 20px;
}


.card-body h3 {
    color: #0d0058;
}

.card-body form {
    text-align: left;
}

/* ----------------------------------------------SOCIAL LINKS */
.social-icons {
    text-align: center;
    font-size: 150%;
}

#social li {
    text-align: center;
}

#social a{
    color: #0d0058;
}

#social a:hover {
    color: #ef73bc;
}

.footer-text {
    margin: 0 auto;
    text-align: center;

}

/* ----------------------------------------------MEDIA SCREENS */

@media screen and (max-width:1200px) {
    .logo {
        font-size: 35px;
    }
}

@media screen and (max-width:992px) {
    .logo {
        font-size: 30px;
    }

    .col-md-6 {
        width: 70%;
    }
    
    .navbar-nav.mx-auto.fw-bolder li a {
        padding-right: 0px;
    }
    
}

@media screen and (max-width:768px){
    .logo {
        font-size: 30px;
    }
}