{% extend "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <!-- Competition entries column-->
        <div class="col-12 mt-3 left">
            <div class="row">
            {% for entry in entries_list %}
                <div class="col-md-4">
                    <div class="card-mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <img class="card-img-top" src="{{ entry.featured_image.url }}">
                                <div class="image-flash">
                                    <p class="competitor">By: {{ entry.competitor }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}