{% extends "base.html" %}

{% block content %}

<div class="container login-form-container">
    <div class="row justify-content-center">
        <div class="col-sm-6 mt-4 login-form">
            <div class="card-body">
                <p>
                    Welcome to the Online Dog Show!
                </p>
                <p>
                    This is a friendly webpage where you can share the photo of your dog with others, discuss about the
                    breed or anything else through comments, find friends, but also there is a little competition on who
                    gets most likes for their dog.
                </p>
                <p>
                    Enjoy!
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}