{% extends "base.html" %}

{% block content %}

<div class="container login-form-container">
    <div class="row justify-content-center">
        <div class="col-sm-6 mt-4 login-form">
            <div class="card-body">
                <p>
                    Rules for the Online Dog Show!
                </p>
                <p>
                    To be able to enter the competition, you need to log in to the site with your account. If you do not
                    have an account created, navigate to sign-up page and create one.
                </p>
                <p>
                    Once that is done, click on “Enter” tab and post your best photo of your best friend. Before any
                    entry is published, it is reviewed by the admin to make sure it is user friendly.
                </p>
                <p>
                    Under “All Entries” tab, you can view all the entries and like ones you think deserve a like. You
                    can also comment on them to express your admiration with words. All comments will be reviewed by
                    admin before being published to make sure they are user friendly.
                </p>
                <p>
                    Navigating to “Competition” tab, you can see the entry with most likes.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}